.searchcontrols{
    width:20%;
    left: 40%;
    position: relative;
    height:40%;
    padding: 5%;
}
.detailscontainer{
    width: 100%;
    padding-left:10%;
    padding-right: 10%;
    height: 60%;
}